@require 'layout/theme'

fieldset
    padding 10px
    border-radius 5px
    margin-bottom 5px
    border 2px solid #062964
    
#context-title
    font-size large
    @media (min-width: 600px)
        font-size x-large
    margin-bottom -5px
    border-bottom unset
    width unset

#context
  text-align justify
  font-size 12px
  @media (min-width: 600px)
    font-size large


.btn
    &:hover
        color #4CAF50
        text-decoration underline
      
/* Entity span */
.entity
  font-size 12px
  @media (min-width: 600px)
    font-size large
  //border none
  background-color inherit
  padding 0px 0px
  cursor pointer
  display inline-block
  vertical-align baseline
  font-weight bold
  &.active 
    background-color #4CAF50
    color white
    
.show-answer    
  border 2px solid #04af58
  
#answer
    display none    
  
.highlights
   padding 0 18px 
  
#query-title
  margin-bottom -5px
  border-bottom unset
  width unset
  font-size large
  @media (min-width: 600px)
    font-size x-large

#query
    font-size 12px
    @media (min-width: 600px)
      font-size large
    text-align justify
  
.placeholder-init
    font-size 12px
    @media (min-width: 600px)
      font-size large
    font-weight bold
    color #CB4B16  
  
.placeholder
    background-color #4CAF50
    color white
    font-size 12px
    @media (min-width: 600px)
      font-size large
    font-weight bold
    border-radius 4px  
  
#hint
  cursor pointer
  font-size large
  @media (min-width: 600px)
    font-size x-large
  color #666666
  padding-left 5px
  
#next-example
  padding-right 5px
  text-decoration underline
  text-align right
  font-size large
  @media (min-width: 600px)
    font-size x-large

