nav.navbar.navbar-default.navbar-static-bottom.footer
  .container.clearfix
    .rightNav
      div
        ul.nav.navbar-nav.navbar-right
          li
            a(href="/") Re
              span.record Co
              | RD
          li
            a(href="http://clsp.jhu.edu") CLSP@JHU