.cover#topCover
  .container
    .row
      .col-md-12
        h1#appTitle 
          b Re
          span.record-title Co
          b RD
        h2#appSubtitle Reading Comprehension with Common-sense Reasoning Dataset
